@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-image: url('https://source.unsplash.com/1600x900/?landscape'); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.section-title {
    padding-bottom: 15px;
    font-size: 50px;
}

.search {
    margin: 10px;
}

ul {
    list-style-type: none;
}

.forecast-header {
    margin: 10px;
}


#forecast-cards {
    justify-content: space-around;
}
.card-content {
    margin: 30px;
}

.current-weather, .weather-input {
    margin: 5px;
}

.weather-container {
    margin: 150px auto;
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 10px;
    opacity: 80%;
}

.card {
    background-color: black;
}

.btn {
    background-color: black;
}